<!-- Home Page -->
<div style="min-height: 100%; background-size: cover; background-image: url(https://s3-us-west-2.amazonaws.com/pg-scoresheet/classroom-hands-raised_800.jpg);">

    <div class="jumbotron text-center"
         style="margin-bottom: 0; background-color: rgba(143, 188, 143, 0.95);">
        <h1>Score Sheet</h1>
        <h4 style="color:gray">A Preva Group Project</h4>
    </div>

    <div class="jumbotron text-center clearfix"
         style="margin-bottom: 0; background: transparent;">
        <div class="col-sm-offset-3 col-sm-6">
            <p ng-if="!user._id"
               style="background-color: white; opacity: 0.9; font-weight: bold; color: black; padding: 15px;">
                Please
                <a ui-sref="user.signup">sign up</a>
                or
                <a ui-sref="user.login">login</a>
                to get started.
            </p>
            <p ng-if="user._id"
               style="background-color: white; opacity: 0.9; font-weight: bold; color: black; padding: 15px;">
                Please go to
                <a ui-sref="graded-work">graded work</a>
                to get started.
            </p>
        </div>
    </div>

</div>