<!-- Navigation Bar -->

<nav ng-hide="'grade' | isState"
     class="navbar navbar-default"
     style="margin-bottom: 0;">
    <div class="container-fluid">

        <!-- brand & toggle for mobile -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    ng-click="toggleNavbar()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href ui-sref="home">
                Score Sheet
            </a>
        </div>

        <!-- navbar buttons & drop down -->
        <div class="collapse navbar-collapse" id="navbar-collapse">

            <!-- navbar buttons -->
            <ul class="nav navbar-nav"
                ng-if="user._id">

                <!-- graders -->
                <li ng-if="user.admin"
                    ui-sref-active="active">
                    <a href ui-sref="graders">
                        <i class="glyphicon glyphicon-user"></i>
                        Graders
                    </a>
                </li>

                <!-- graded work -->
                <li ui-sref-active="active">
                    <a href ui-sref="graded-work">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Graded Work
                    </a>
                </li>

                <!-- consensus scores -->
                <li ng-if="user.consensusScores"
                    ui-sref-active="active">
                    <a href ui-sref="consensus-scores">
                        <i class="glyphicon glyphicon-equalizer"></i>
                        Consensus Scores
                    </a>
                </li>

                <!-- download -->
                <li ng-if="user.admin"
                    ui-sref-active="active">
                    <a href ui-sref="download">
                        <i class="glyphicon glyphicon-cloud-download"></i>
                        Download
                    </a>
                </li>
            </ul>

            <!-- navbar drop down -->
            <ul class="nav navbar-nav navbar-right">

                <!-- user drop down -->
                <li class="dropdown" uib-dropdown
                    ng-if="user._id">
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                        {{user.name}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li><a href ui-sref="user.settings">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" ng-click="logout($event)">Logout</a></li>
                    </ul>
                </li>

                <!-- sign up button -->
                <li ui-sref-active="active"
                    ng-if="!user._id">
                    <a href ui-sref="user.signup">Sign Up</a>
                </li>

                <!-- login button -->
                <li ui-sref-active="active"
                    ng-if="!user._id">
                    <a href ui-sref="user.login">Login</a>
                </li>

            </ul>

        </div>
    </div>
</nav>